## Deliverable 3. Create a Travel Itinerary Map.

In [76]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Maragogi,BR,85.93,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
1,3,Port Alfred,ZA,72.27,few clouds,-33.5906,26.8910,The Halyards Hotel
2,4,Rikitea,PF,78.64,few clouds,-23.1203,-134.9692,People ThankYou
3,5,Manta,EC,78.58,broken clouds,-0.9500,-80.7333,Balandra Hotel
4,6,Butaritari,KI,81.27,light rain,3.0707,172.7902,Isles Sunset Lodge

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == "Kangar") & (vacation_df['Country'] == "MY") ]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == "Georgetown") & (vacation_df['Country'] == "MY")]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == "Kuala Terengganu") & (vacation_df['Country'] == "MY")] 
vacation_stop3 = vacation_df.loc[(vacation_df['City'] == "Kota Bahru") & (vacation_df['Country'] == "MY")] 

vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
215,591,Kota Bahru,MY,76.98,scattered clouds,6.1333,102.2386,Grand Riverview Hotel

In [78]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = start
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [98]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
travel_map = gmaps.directions_layer(start,end,waypoints = [stop1,stop2,stop3],travel_mode = 'DRIVING')
fig.add_layer(travel_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [87]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,671,Kangar,MY,80.55,moderate rain,6.4414,100.1986,Hotel Seri Malaysia Kangar Perlis
1,46,Georgetown,MY,80.53,few clouds,5.4112,100.3354,Cititel Penang
2,243,Kuala Terengganu,MY,75.15,moderate rain,5.3302,103.1408,Hotel Grand Continental Kuala Terengganu (4 Star)
3,591,Kota Bahru,MY,76.98,scattered clouds,6.1333,102.2386,Grand Riverview Hotel

In [92]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [97]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))